{% extends "app/layout.html" %}

{% block content %}

<h2>{{ MegaPix }}.</h2>
<h3>{{ Empresa }}</h3>
<h2>MegaPix</h2>
<p>. ASSISTEBEM // A EMPRESA <b>MegaPix</b> Serviços de Manutenção em Casa, Lda. , 
  foi fundada a 29 de Maio de 1998 com o objectivo de ocupar uma lacuna existente na cidade de Braga e Distrito, 
  tendo crescido para o grande Porto, perspectivando-se o seu alargamento ao resto do país no prazo de 2 ano.</p><br>

<p>A Empresa <b>MegaPix</b> Todos os trabalhos solicitados à Assistebem, têm garantia de satisfação como prova a nossa
  atitude desde o inicio da actividade, conforme exemplo fotos de algumas obras realizadas.
  Desejamos que a nossa intenção de vos servir vá ao encontro das vossas reais necessidades.</p>

<p>.<b>MegaPix</b> empresa de serviços propõe-se dar resposta a todo o tipo de serviços de Manutenção Industrial, Comercial e 
  Domicílios em todos os ramos de actividade, dispondo para tal de quadros técnicos com formação específica para poder garantir
  com qualidade todos os serviços solicitados, dispondo de meios humanos e de logística para criação de espaços comerciais de 
  raiz bem como remodelação de todo o tipo de habitações e obras em geral, conforme projecto apresentado pelo cliente ou proposto
  pela Megapix</p>

{% endblock %}
